<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt=""
    src="https://cdn3.iconfinder.com/data/icons/purchases-and-sales/512/tarje.png"
  />
  <span>Cliente</span>
  <div class="spacer"></div>

  <div class="card-container">

    <a class="card" rel="noopener" routerLink="/perfil/{{this.Global.id}}">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
      <span>Perfil</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" rel="noopener" routerLink="/dashboard">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
      <span>Pagina Inicial</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>

</div>


<div class="content" role="main">

  <div class="container">
    <div class="row">
      <div class="col">
        <div style="padding: 10px;">
          <mat-card style="margin:10px; background-color: black;color:white; align-content: center;">
            <mat-card-title>Mis tarjetas</mat-card-title>
          </mat-card>
          <hr>

          <mat-card style="margin:20px">
            <mat-card-subtitle>Tarjetas agregadas</mat-card-subtitle>
              <table>
                <tr>
                <td>No. Tarjeta</td>
                  <td> Nombre</td>
                </tr>
                <tr *ngFor = "let data of CARDS">
                  <td>
                    {{data.NoTarjeta}}
                  </td>
                  <td>
                    {{data.Nombre}}
                  </td>
                </tr>
              </table>
          </mat-card>


          <mat-card style="margin:20px">
            <mat-card-subtitle>Agregar tarjeta</mat-card-subtitle>
            <form>
              <table class="example-full-width" cellspacing="20"><tr>
                <td><mat-form-field class="example-full-width">
                  <mat-label>No Tarjeta</mat-label>
                  <input matInput [(ngModel)]="tarjeta" name="tarjeta" required>
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Nombre</mat-label>
                  <input matInput [(ngModel)]="nombre" name="nombre" required>
                </mat-form-field></td>
              </tr></table>

              <table class="example-full-width" cellspacing="0"><tr>
                <td></td>
                <td>
                  <div class="card-container" (click)="newCard()">
                    <a class="card" rel="noopener">
                      <span>Agregar Tarjeta</span>
                      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                    </a>
                  </div>
                </td>
              </tr>
              </table>
            </form>
          </mat-card>
        </div>
      </div>

    </div>
  </div>

  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677" viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39" d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z" transform="translate(142.69 -634.312)" fill="#eee"/>
  </svg>
</div>
