<div class="custom-pagination">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="../../../assets/econo3.svg"
    />
    <span>Econo-Ahorro</span>
    <div class="spacer"></div>

    <div class="card-container">

      <a class="card" rel="noopener" routerLink="/">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
        <span>Logout</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
    </div>
  </div>
</div>
<div style="margin: 70px 30px">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Venta</mat-card-title>
      <div class="row" style="margin-top: 50px">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <mat-card>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Cliente</mat-label>
                  <input matInput [(ngModel)]="order.Nombres" name="nombre" disabled>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Fecha</mat-label>
                  <input matInput [(ngModel)]="order.Fecha" name="stock" disabled>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-2">
                <mat-form-field class="example-full-width">
                  <mat-label>Total</mat-label>
                  <input matInput [(ngModel)]="order.Total" name="precio" disabled>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-2">
                <mat-form-field appearance="fill" *ngIf="!id">
                  <mat-label>Estado</mat-label>
                  <mat-select [(value)]="order.estado">
                    <mat-option *ngFor="let state of states" [value]="state.id" (onSelectionChange)="onStateChange($event, state)">
                      {{state.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width" *ngIf="id">
                  <mat-label>Estado</mat-label>
                  <input matInput [(ngModel)]="order.nombre" name="estado" disabled>
                </mat-form-field>
              </div>
              <div class="col-sm-12 col-md-2" *ngIf="!id">
                <button mat-raised-button color="primary" (click)="update()">Actualizar</button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table mat-table [dataSource]="detail">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns, index as i">
              <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white"> {{column}} </th>
              <td mat-cell *matCellDef="let element"> {{i !== 2 ? element[column] : 'Q.' + formatNumber(element[column])}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
