.example-card {
  max-width: 300px;
  height: 400px;
  margin: 5px;
  background: #cedcf5;
  box-shadow: 3px 3px 5px #a7a7a7;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  object-fit: cover;
}

.quantity-button {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 0;
  min-width: 0;
  padding: 0;
  margin: 13px 10px !important;
  margin-top: 20px !important;
}

.quantity-input{
  width: 30px;
  text-align: center;
  margin-top: 8px;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
}

.product_price-container {
  height: 30px;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  height: 15px;
  color: #2f3542;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
}

.example-chip-list {
  width: 80%;
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
}
