<div class="custom-pagination">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="../../../assets/econo3.svg"
    />
    <span>Econo-Ahorro</span>
    <div class="spacer"></div>

    <div class="card-container">
      <a class="card" rel="noopener" routerLink="/">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
        <span style="color: black">Logout</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div style="padding: 20px;">
          <mat-card style="margin:20px; background-color: black;color:white; align-content: center;">
            <mat-card-title>Producto para la tienda</mat-card-title>
          </mat-card>
          <hr>
          <mat-card style="margin:20px">
            <form class="example-form">
              <div class="form-group">
                <label> Nombre </label>
                <input [(ngModel)]="nombre" type="text" class="form-control" required name="nombre">
              </div>
              <div class="form-group">
                <label> Descripcion </label>
                <input [(ngModel)]="descripcion" type="text-area" class="form-control" required name="descripcion">
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <label> Stock </label>
                  <input [(ngModel)]="stock" name="stock" type="number" class="form-control">
                </div>
                <div class="col">
                  <label> Precio </label>
                  <input [(ngModel)]="precio_venta" name="precio_venta" type="number" class="form-control">
                </div>
              </div>
              <table class="egt">
                <tr>
                  <td width="50%">
                    <div class="group">
                      <label class="label">Fotografia</label>
                      <br/>
                      <label class="file" style="font-family: 'Arial Narrow'">
                        <input type="file" id="file" aria-label="File browser example"  (change)="changeListener($event)"/>
                      </label>
                    </div>
                  </td>
                  <td width="50%">
                    <div class="group" align="center" *ngIf="!showSelector">
                      <img id="image" align="center" style="height: 45%; width: 45%; margin: 0 auto">
                    </div>
                  </td>
                </tr>
              </table>
              <br/>
              <div class="form-group">
                <button (click)="CrearProducto()" class="form-control" mat-raised-button color="primary">Crear producto</button>
              </div>


            </form>
          </mat-card>
        </div>
      </div>
    </div>
</div>
