<div class="custom-pagination">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="../../../assets/econo3.svg"
    />
    <span>Econo-Ahorro</span>
    <div class="spacer"></div>

    <div class="card-container">

      <a class="card" rel="noopener" routerLink="/perfil_proveedor/{{this.globalService.id}}">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
        <span>Perfil</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>

      <a class="card" rel="noopener" routerLink="/">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
        <span>Logout</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
    </div>
  </div>
</div>
<div class="example-container mat-elevation-z8" style="margin-top: 100px">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white"> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column] ? element[column] : column==='nombre' ? 'Crear Producto' : ''}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="element.id == expandedElement.id ? 'expanded' : 'collapsed'">
          <div class="row" style="flex: 1">
            <div style="object-fit: cover; text-align: center" class="col-sm-12 col-md-4">
              <img mat-card-image src="{{updateElement.imagen}}" height="280px" width="280px" alt="{{element.nombre}}">
            </div>
            <div class="col-sm-12 col-md-8 mb-5" style="text-align: center; align-items: center; display: flex;">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <mat-form-field class="example-form-field">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" [(ngModel)]="updateElement.nombre">
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Categorias</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let category of categories" [value]="this.category" (onSelectionChange)="onCategoryChange($event, category)">
                        {{category.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <mat-form-field class="example-form-field">
                    <mat-label>Stock</mat-label>
                    <input matInput type="text" [(ngModel)]="updateElement.stock">
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <mat-form-field class="example-form-field">
                    <mat-label>Precio</mat-label>
                    <input matInput type="text" [(ngModel)]="updateElement.precio">
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <button mat-raised-button color="primary" (click)="updateProduct()">Guardar</button>
                  <button mat-raised-button color="primary"><a routerLink="/producto/subasta/{{updateElement.id}}" style="color: white">
                    Subasta</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="showProduct(expandedElement, row)"
        style="background-color: #d6e0ff"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
