<div class="custom-pagination">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="../../../assets/econo3.svg"
    />
    <span>Econo-Ahorro</span>
    <div class="spacer"></div>

    <div class="card-container">

      <a class="card" rel="noopener" routerLink="/">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
        <span>Logout</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>

    </div>
  </div>
  <mat-paginator [length]="count" [pageSize]="20"
                 [pageSizeOptions]="[20, 40, 80, 100]"
                 (page)="pageEvent($event)"
  ></mat-paginator>
</div>
<div class="product-list" >
  <div style="height: 120px; width: 100%"></div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div *ngFor="let order of orders; index as i">
    <mat-card class="example-card">
      <img mat-card-image src="{{'/assets/placeholder-product.svg'}}" height="270px" width="200px"
           alt="{{order.nombre}}">
      <mat-card-content>
        <div style="display: flex;">
          <div style="width: 70%">
            <mat-card-title>{{order.Nombres}}</mat-card-title>
            <mat-card-subtitle>{{order.nombre}}</mat-card-subtitle>
          </div>
          <div>{{order.Fecha.split('T')[0]}}</div>
        </div>
        <div class="product_price-container">
          <div>
            <div style="display: flex; justify-content: center; margin-top: 10px">
              <button mat-raised-button color="primary" (click)="show(order.idVenta)">Ver detalles</button>
            </div>
          </div>
          <div class="product-price">Q.{{formatNumber(order.Total)}}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
