<div class="custom-pagination">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="../../../assets/econo3.svg"
    />
    <span>Econo-Ahorro</span>
    <div class="spacer"></div>

    <div class="card-container">

      <a class="card" rel="noopener" routerLink="/perfil_proveedor/{{this.globalService.id}}">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
        <span>Perfil</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>

      <a class="card" rel="noopener" routerLink="/">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
        <span>Logout</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
    </div>
  </div>
</div>
<div style="margin: 70px 30px">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Subasta</mat-card-title>
      <div class="row" style="margin-top: 50px">
        <div style="object-fit: cover; text-align: center" class="col-sm-12 col-md-4 col-lg-4">
          <img mat-card-image src="{{product.imagen}}" height="300px" width="300px" alt="{{product.nombre}}">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <mat-card>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Nombre</mat-label>
                  <input matInput [(ngModel)]="product.nombre" name="nombre" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Stock</mat-label>
                  <input matInput [(ngModel)]="product.stock" name="stock" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Precio</mat-label>
                  <input matInput [(ngModel)]="product.precio" name="precio" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Categoría</mat-label>
                  <input matInput [(ngModel)]="product.categoria" name="categoria" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Proveedor</mat-label>
                  <input matInput [(ngModel)]="product.proveedor" name="proveedor" disabled>
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="subasta.titulo" name="titulo">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <input matInput [(ngModel)]="subasta.descripcion" name="descripcion">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <mat-label>Precio de reserva</mat-label>
            <input matInput type="number" [(ngModel)]="subasta.precio_inicial" name="precio_inicial">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-label>Hora</mat-label>
            <input matInput type="number" [(ngModel)]="subasta.hora" name="tiempo">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-label>Minuto</mat-label>
            <input matInput type="number" [(ngModel)]="subasta.minuto" name="tiempo">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="primary" (click)="crearSubasta()">Subastar</button>
    </mat-card-footer>
  </mat-card>
</div>
